@page "/allprojects"
@inject HttpClient Http
@using ProjectBank.Shared

<h1>All Projects</h1>
<p>These are all projects currently available on Project Bank!</p>



@if(projects != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var project in projects)
            {
                <tr>
                    <td>@project.Title</td>
                    <td>@project.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
else{
<table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            <tbody>
                <tr>
                    <td>Test</td>
                    <td>ing</td>
                </tr>
            </tbody>
        </thead>
        
    </table>}

@code {

private Project[]? projects;

    protected override async Task OnInitializedAsync()
    {       

    projects = new Project[]{new Project{Title = "Project1", Description = "Project1Description"},
                             new Project{Title = "Project2", Description = "Project2Description"},
                             new Project{Title = "Project3", Description = "Project3Description"}
                            };
     /* try  {
                projects = await Http.GetFromJsonAsync<Project[]>>("project");
                
                Console.WriteLine(projects);
            }
      catch (Exception exception)
            {
                
            }
    */
    }
}