@page "/project/create"
@using ProjectBank.Shared
@inject HttpClient HttpClient
@inject NavigationManager MyNavigationManager
@inject IToastService toastService
<h1>Create a project!</h1>
<p>Fill in the form and click create!</p>



<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <h2>Create Project</h2>
            </div>
            <div class="card-body">
               

                <EditForm Model="@project" >
                    <DataAnnotationsValidator />
               

                    <div>
                        <label>Project Title</label>
                        <div>
                            <InputText class="form-control" @bind-Value="project.name" @bind-Value:event="onchange" />
                          
                        </div>
                    </div>
                    <div class="desc-field">
                        <label class="control-label col-md-12">Project Description</label>
                        <div class="col">
                           <textarea @bind="Description" @bind:event="oninput" style="width: 100%; height: 100%">  </textarea>
                          
                        </div>
                    </div>
    
                </EditForm>
                <div>
                <button @onclick="createProject">Create Project</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    Description: @Description
</div>





@code
{
    public string Description {get; set;} = string.Empty;
    public string Title {get; set;} = string.Empty;
    private Project project = new();  

    void createProject()
    {
        project.name = Title;
        project.desc = Description;
        project.authorid = 2;
        if (true)
        {
             MyNavigationManager.NavigateTo("myprojects");
            toastService.ShowSuccess("You successfully created the project");
        }

    }
}