@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<h1>Hello there!</h1>


<AuthorizeView>
    Hello, @context.User.Claims.First( cl => cl.Type.ToString()=="email").Value
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    //var authenticationState = await authenticationStateTask;

}
