@page "/myprojects"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ProjectBank.Shared
@attribute [Authorize]

<h1>My Projects</h1>
<p>These are all your projects on Project Bank!</p>