@page "/project/{id:int}"
@inject HttpClient HttpClient
@using ProjectBank.Shared;
<h1>@SelectedProject.name</h1>


 <table class="table">
    <thead>
        <th>Description</th>
        <th>Number of views</th>
    </thead>
    <tbody>
        <td>@SelectedProject.desc</td>
        <td>@SelectedProject.nrOfViews</td>
    </tbody>
  </table>

<button>Apply for project</button>


@code{

[Parameter] public int id {get; set;}
private Project SelectedProject = new();



    protected override async Task OnInitializedAsync()
    {
        SelectedProject = await HttpClient.GetFromJsonAsync<Project>($"Project/{id}");
        
    }

    


}