@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<h1>Hello there!</h1>


<AuthorizeView>
    Hello, @context.User.Claims.First( cl => cl.Type.ToString()=="email").Value!
</AuthorizeView>
<br />
Welcome to <b>Project Bank</b>.

<SurveyPrompt Title="How is Project Bank working for you?" />

@code {

    //var authenticationState = await authenticationStateTask;

}
